*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(45deg, #2F3E46,#84A98C);
}
body::before{
    position: absolute;
    content: ' ';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#FF5FC5,#bc1b68);
    clip-path: circle(15% at 73% 100%); 
}
body::after{
    position: absolute;
    content: ' ';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#0E5298, #23AAF2);
    clip-path: circle(20% at 22% 0%); 
}
.container{
    border: 2px solid #ddd;
    border-radius: 15px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(10, 127, 190, 0.123);
    z-index: 1;
    backdrop-filter: blur(10px);
    box-shadow: 0 20px 35px rgba(0,0,0,0.5);
}
.container .card{
    width: 400px;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.container .card h2{
    position: absolute;
    top: -17px; 
    left: 30px; 
    background: white;
    border: 2px solid #2A7E52; 
    padding: 5px 10px; 
    border-radius: 10px; 
}
.container .card .content{
    width: 100% ;
}     
.container .card .content .inputBox input{
    width: 100%;
    box-sizing: border-box;  
    outline: none;
    padding: 15px 45px;
    border-radius: 15px;
    border:2px solid #ddd;
    transition: 0.3s; 
    font-size: 18px;
    background: transparent;
}
.container .card .content .inputBox input::placeholder{
    color: white;
}
.container .card .content .inputBox input:focus{
    border: 2px solid #860619; 
}

.container .card .content .inputBox{
    position: relative;
    overflow: hidden;
    margin: 20px;
}
.container .card .content .inputBox .span1{
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 22px;  
    color: rgba(0,0,0,0.5);  
    transition: 0.5s;
}
.container .card .content .inputBox input:focus ~ .span1{
    transform: translateY(-50px);
}
.container .card .content .inputBox .span2{
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 22px;  
    color: rgba(0,0,0,0.5);  
    transform: translateY(50px);
    transition: 0.5s;
}
.container .card .content .inputBox input:focus ~ .span2{
    transform: translateY(0px);
    color: #CAD2C5;      
}
#lastInputBox a{
    background: linear-gradient(120deg, #469E75, #23774A);    
    width: 100%;
    display: block;
    padding: 12px 0px;
    border-radius: 15px;
    text-align: center;
    
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    transition: 0.5s; 
    position: relative;
}
#lastInputBox a:hover{
    background: linear-gradient(120deg,rgb(233, 146, 32) 0%, hsla(1, 92%, 47%, 1) 100%); 
}
.spanButton1{
    position: absolute;
    top: 13px;   
    left: 100px; 
    font-size: 1.2em;
    color: white; 
    transition: 0.5s;
}
#lastInputBox:hover .spanButton1{  
    transform: translateY(-50px);  
}
.spanButton2{
    position: absolute;
    top: 13px;   
    left: 100px; 
    font-size: 1.2em;
    color: white; 
    transition: 0.5s;
    transform: translateY(50px);
}
#lastInputBox:hover .spanButton2{  
    transform: translateY(0px);   
}